name: Build MkDocs (Material) in gh-pages branch

on:
  push:
    branches: ["gh-pages"]
    paths-ignore:
      - "docs/**"         # prevent infinite loop (workflow commits built site)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - name: Checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Build site into docs/
        run: mkdocs build --clean

      - name: Commit built site (docs/)
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add -A

          git commit -m "docs: build mkdocs site" || echo "No changes to commit"
          git push origin gh-pages
